<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>

<div data-ng-app="myApp" data-ng-controller="myCtrl"> 

<p>Employee Details: </p>

<h1>{{employees}}</h1>

</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {
  $http.get('http://localhost:8080/AngularRest/rest/EmployeeController/employees')
  .then(function(response) {
      $scope.employees = response.data;
  });
});
</script>
